In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
from dataclasses import dataclass

In [5]:
data = pd.read_csv('./저장된 데이터.csv')
data.head()

,일시 Run 1,시간 (s) Run 1,힘 (N) Run 1,위치 (m) Run 1,속도 (m/s) Run 1,"가속도, 파랑 (m/s²) Run 1",net force (N) Run 1,acceleration (m/s²) Run 1,일시 실행 2,시간 (s) 실행 2,...,net force (N) 실행 50,acceleration (m/s²) 실행 50,일시 실행 51,시간 (s) 실행 51,힘 (N) 실행 51,위치 (m) 실행 51,속도 (m/s) 실행 51,"가속도, 파랑 (m/s²) 실행 51",net force (N) 실행 51,acceleration (m/s²) 실행 51
0,2023/09/18 12:17:34,0.000,-0.36,0.0,NaN,NaN,NaN,NaN,2023/09/18 12:17:41,0.000,...,NaN,NaN,2023/09/18 12:34:10,0.000,-0.51,0.0,NaN,NaN,NaN,NaN
1,2023/09/18 12:17:34,0.025,-0.36,0.0,0.000000,NaN,NaN,NaN,2023/09/18 12:17:41,0.025,...,NaN,NaN,2023/09/18 12:34:10,0.025,-0.52,0.0,0.0,NaN,NaN,NaN
2,2023/09/18 12:17:34,0.050,-0.37,0.0,0.000000,0.016,NaN,NaN,2023/09/18 12:17:41,0.050,...,NaN,NaN,2023/09/18 12:34:10,0.050,-0.51,0.0,0.0,0.0,NaN,NaN
3,2023/09/18 12:17:34,0.075,-0.36,0.0,0.000808,0.097,NaN,NaN,2023/09/18 12:17:41,0.075,...,NaN,NaN,2023/09/18 12:34:10,0.075,-0.51,0.0,0.0,0.0,NaN,NaN
4,2023/09/18 12:17:34,0.100,-0.36,0.0,0.004000,0.199,NaN,NaN,2023/09/18 12:17:41,0.100,...,NaN,NaN,2023/09/18 12:34:10,0.100,-0.51,0.0,0.0,0.0,NaN,NaN

In [ ]:
class Runs:
    def __init__(self, path: str) -> None:
        data = pd.read_csv(path)

        self.runs = []
        for column in data.columns:
            matched = column.match(r'(\s+) Run|실행 (\d+)')
            if matched:
                run_id = int(matched.group(2))
                run = Run(run_id, data['Time'], data[column], data['Velocity'])

@dataclass
class Run:
    id: int
    t: np.array
    F: np.array
    x: np.array
    v: np.array
    a: np.array

    def __post_init__(self):
        self.t = np.array(self.t)
        self.F = np.array(self.F)
        self.v = np.array(self.v)


for column in data.columns:
    print(column)